<div style="border: #4c4949 1px solid; width: 1087px; height: 1604px; margin: 120px auto;">
    <form>
        <div class="form-outline mb-4" style="margin-top: 408px;">
            <input type="text" id="SignUpUserName" class="form-control" placeholder="Vui lòng nhập họ tên"
                   style="border-radius: 50px; height: 94px; margin-left: 202px; font-size: 30px; padding-left: 24px;" />
        </div>

        <div class="form-outline mb-4" style="margin-top: 56px;">
            <input type="text" id="SignUpPhoneNumber" class="form-control" placeholder="Vui lòng nhập SĐT (bắt buộc)"
                   style="border-radius: 50px; height: 94px; margin-left: 202px; font-size: 30px; padding-left: 24px;" />
        </div>

        <div class="form-outline mb-4" style="margin-top: 56px;">
            <input type="email" id="SignUpEmail" class="form-control" placeholder="Vui lòng nhập email (bắt buộc)"
                   style="border-radius: 50px; height: 94px; margin-left: 202px; font-size: 30px; padding-left: 24px;" />
        </div>

        <div class="form-outline mb-4" style="margin-top: 56px;">
            <input type="password" id="SignUpPassWord" class="form-control" placeholder="Nhập mật khẩu của bạn"
                   style="border-radius: 50px; height: 94px; margin-left: 202px; font-size: 30px; padding-left: 24px;" />
        </div>

        <div class="form-outline mb-4" style="margin-top: 56px;">
            <input type="password" id="SignUpComfirmPassWord" class="form-control" placeholder="Xác nhận mật khẩu"
                   style="border-radius: 50px; height: 94px; margin-left: 202px; font-size: 30px; padding-left: 24px;" />
        </div>

        <div class="form-check" style="margin-top: 27px;">
            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked
                   style="width: 30px; height: 30px; margin-left: 219px;" />
            <label class="form-check-label" for="form1Example3">
                <p style="font-size: 30px; margin-left: 15px;">
                    Tôi đồng ý với các điều khoản bảo mật cá nhân
                </p>
            </label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" onclick="getFormValues()"
                style="border-radius: 50px; font-weight: bold; font-size: 40px; width: 717px; height: 110px; margin-left: 203px; margin-top: 42px; background-color: #73BBFE; border: none">
            ĐĂNG KÝ
        </button>

        <!-- Register buttons -->
        <div>
            <p style="font-size: 30px; margin-left: 423px; margin-top: 0px; color: #968C8C">
                hoặc đăng ký bằng
            </p>
            <div style="margin-top: 30px;">
                <a href=""><img src="./img/icon/logo_google.png" alt="" style="margin-left: 398px;"></a>
                <a href=""><img src="./img/icon/logo-facebook.jpg" alt="" style="margin-left: 81px;"></a>
                <a href=""><img src="./img/icon/logo_zalo.png" alt="" style="margin-left: 81px;"></a>
            </div>
        </div>
    </form>
</div>
<script src="./js/Signup.js"></script>