
<div class="backGroundImgFooter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-3 " style="color: white">
                <div class="textTitleFooter2" style="margin-top:34px;">GIỚI THIỆU</div>
                <div class="gach-chan-f"></div>
                <p class="textFooter3">
                  Laptop
                </p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-youtube"></i>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="textTitleFooter2" style="margin-top:34px;" >LIÊN KẾT</div>
                <div class="gach-chan-f"></div>
                <p class="textFooter3">
                    Điều khoản bảo mật <br>
                    Chính sách bảo hành<br>
                    Hình thức thanh toán
                </p>

            </div>
            <div class="col-md-5 col-sm-5">
                <div class="textTitleFooter2" style="margin-top:34px;">LIÊN HỆ</div>
                <div class="gach-chan-f"></div>
                <span class="text-ft-2">Công Ty TNHH Phương Thảo</span>
                <p class="textFooter3">
                    GPKD: 0108149044 – cấp ngày 29/01/2018<br><br>
                    <i class="fa-solid fa-phone"></i> Tô Vĩnh Diện, Phường Khương Trung, Quận Thanh
                    Xuân,
                    TP Hà
                    Nội<br><br>
                    <i class="fa-solid fa-phone"></i>032344545<br><br>
                    <i class="fa-regular fa-envelope"></i> Support@phuongthao.vn
                </p>

            </div>
        </div>
    </div>
</div>

<footer class="container textFooter text-center">
    Copyright © 2023 <span class="textFooter2">PhuongThaoShop</span> . All rights reserved.
</footer>
<style>
     .backGroundImgFooter {
         background: url('../../images/background_footer.jpg') no-repeat center center fixed;
         background-size: cover;
     }

     .textFooter {
         font-size: 14px;
         line-height: 24px;
         color: #677987;
     }

    .gach-chan-f {
        width: 36px;
        height: 3px;
        background-color: #3BB54A;
        border-radius: 7px;
    }

    .textFooter2 {
        color: var(--3-bb-54-a, #3BB54A);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .textTitleFooter2 {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px;
        /* 95.833% */
    }


</style>