@{
    ViewBag.Title = "Product Type /";
}

<span id="notification" style="display:none;">222</span>
<div id="example" >
    <div id="grid"></div>
</div>
<br />

@section scripts {
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/kendo.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        /*
            This demo renders the grid in "DejaVu Sans" font family, which is
            declared in kendo.common.css. It also declares the paths to the
            fonts below using <tt>kendo.pdf.defineFont</tt>, because the
            stylesheet is hosted on a different domain.
        */
        // Fix xuất file PDF
        kendo.pdf.defineFont({
            "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });
    </script>

    <script>
        $(document).ready(function () {

            // Function hiển thị thông báo
            function showNotification(message, type) {
                toastr.options = {
                    positionClass: "toast-top-right", // Điều chỉnh vị trí của thông báo
                    closeButton: true // Hiển thị nút đóng thông báo
                };

                // Hiển thị thông báo theo loại
                if (type === "success") {
                    toastr.success(message);
                } else {
                    toastr.error(message);
                }
            }

            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "/ProductType/GetProductType",
                            type: "GET",
                            dataType: "json"
                        },
                        create: {
                            url: "/ProductType/CreateProductType",
                            type: "POST",
                            dataType: "json",

                        },
                        update: {
                            url: "/ProductType/UpdateProductType",
                            type: "PUT",
                            dataType: "json"
                        },
                        destroy: {
                            url: "/ProductType/DeleteProductType2",
                            type: "DELETE",
                            dataType: "json"
                        },

                    },
                    schema: {
                        data: "result",
                        total: "count", 
                        model: {
                            id: "id",
                            fields: {
                                name: { type: "string", validation: { required: true } },
                            }
                        }
                    },

                    pageSize: 20,

                },
                height: 550,
                groupable: false,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: [5, 10, 20, "All"],
                    buttonCount: 3,
                    messages: {
                        itemsPerPage: "Số dòng trên mỗi trang",
                        display: "{0}-{1} trong {2} dòng"
                    }
                },

                toolbar: [
                    {
                        name: "create",
                        text: "Thêm", 

                    },

                    "pdf"],
                pdf: {
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8,
                },
                editable: {
                    mode: "popup",
                    window: { width: 550, height: 250 }, // Chỉnh chiều rộng ở đây
                },

                save: function (e) {
                    if (e.model.isNew()) {
                        e.model.dirty = true;
                        console.log(" tra ve: " + e.response);
                        e.sender.dataSource.one("requestEnd", function (ev) {
                            console.log(ev.response);
                            if (ev.type === "create" && ev.response.code === 200) {

                                showNotification(ev.response.message, "success");
                            } else {
                                showNotification("Thêm Thất Bại", "error");
                                showNotification(ev.response.message, "error");
                            }
                            $("#grid").data("kendoGrid").dataSource.read();
                        });
                    } else if (e.model.dirty) {
                        e.sender.dataSource.one("requestEnd", function (ev) {
                            console.log(ev);
                            console.log(ev.response);
                            if (ev.type === "update" && ev.response === "Sửa thành công") {

                                showNotification(ev.response, "success");
                            } else {
                                showNotification("Cập nhật thất bại", "error");
                                showNotification(ev.response, "error");
                            }
                            $("#grid").data("kendoGrid").dataSource.read();
                        });

                    } else if (e.model.isNew() && e.model.isDestroyed()) {
                        // Trường hợp xóa
                        var status = 'success'; // hoặc 'error' tùy theo trạng thái

                        if (status === 'success') {
                            showNotification("Xóa thành công", "success");
                        } else {
                            showNotification("Xóa thất bại", "error");
                        }
                    }
                },


                columns: [
                    {
                        field: "name",
                        title: "Tên"
                    },
                    {
                        command: [
                            {
                                name: "edit",
                                text: "Sửa",
                            },
                            {
                                name: "destroy",
                                text: "Xóa",
                            },
                        ],
                        title: "Hành động",
                        width: "250px",
                        exportable: false
                    }
                ],

            });
        });
    </script>
}
