<style >
#grid {
	margin: 0;
	padding: 0;
	border-width: 0;
	/* height: 100%; /* DO NOT USE !important for setting the Grid height! */ */ height: 900px;
}

.k-grid-content.k-auto-scrollable {
	height: 660px !important;
}



/* Đặt kích thước modal mặc định */
.modal-dialog {
	max-width: 90%;
	width: auto;
}

/* Thiết lập thuộc tính cho việc kéo modal */
.modal-content {
	overflow: hidden; /* Ngăn chặn nội dung bên ngoài khỏi modal */
}

/* Thiết lập kích thước của modal-body khi kéo */
.modal-body {
	max-height: 80vh; /* Điều chỉnh kích thước tùy ý dựa trên nhu cầu của bạn */
	overflow-y: auto;
}

</style >
